$doc-print-content-pad-side : 7px;

@media print {

	#doc-content-inner {
		background-color : #fff;
		padding-left     : $doc-print-content-pad-side;
		padding-right    : $doc-print-content-pad-side;
	}

	#doc-content-outer {
		background-color: #fff;
	}

}
