$heading-pad-top	     : 15px;
$heading-pad-bottom	     : 20px;
$heading-color-primary   : darken( #3E7EBA, 10% ); // blue
$heading-color-secondary : darken( #E17214, 5% ); // orange

$gritsd-heading-base-size: 14px;
$gritsd-h1-multiplier: 2.50;
$gritsd-h2-multiplier: 2.00;
$gritsd-h3-multiplier: 1.60;
$gritsd-h4-multiplier: 1.50;
$gritsd-h5-multiplier: 1.20;
$gritsd-h6-multiplier: 1.20;

$font-size-h1: floor( ( $gritsd-heading-base-size * $gritsd-h1-multiplier ) ) !default;
$font-size-h2: floor( ( $gritsd-heading-base-size * $gritsd-h2-multiplier ) ) !default;
$font-size-h3: floor( ( $gritsd-heading-base-size * $gritsd-h3-multiplier ) ) !default;
$font-size-h4: floor( ( $gritsd-heading-base-size * $gritsd-h4-multiplier ) ) !default;
$font-size-h5: floor( ( $gritsd-heading-base-size * $gritsd-h5-multiplier ) ) !default;
$font-size-h6: floor( ( $gritsd-heading-base-size * $gritsd-h6-multiplier ) ) !default;

//

#doc-content-inner {

	H1 {
		padding-top     : $heading-pad-top;
		padding-bottom  : 4px;
		margin-bottom   : $heading-pad-bottom;
		border-bottom   : 1px solid lighten( $heading-color-primary, 35% );
		color           : $heading-color-primary;
	}

	H2 {
		padding-top     : $heading-pad-top;
		padding-bottom  : $heading-pad-bottom;
		color           : $heading-color-primary;
	}

	H3 {
		padding-top     : $heading-pad-top;
		padding-bottom  : ceil( $heading-pad-bottom * 0.50 );
		font-weight     : bold; //normal;
		color           : $heading-color-secondary;
	}

	H4 {
		padding-top     : $heading-pad-top;
		padding-bottom  : ceil( $heading-pad-bottom * 0.50 );
		font-weight     : normal;
	}

	H5 {
		padding-top     : $heading-pad-top;
		padding-bottom  : ceil( $heading-pad-bottom * 0.0 );
		font-weight     : bold;
		text-decoration : underline;
	}

	H6 {
		padding-top     : $heading-pad-top;
		padding-bottom  : ceil( $heading-pad-bottom * 0.0 );
		font-weight     : bold;
		color           : #666;
	}

}
