@import url(https://fonts.googleapis.com/css?family=Merriweather:400,900italic,900,700italic,700,400italic,300italic,300);

$doc-bq-margin-vert: 25px;
$doc-bq-border-color: lighten( #2780E3, 25% );
$doc-bq-text-color: darken( #2780E3, 25% );

.doc-body {

	BLOCKQUOTE {

		color: $doc-bq-text-color;
		font-family: 'Merriweather', serif;
		margin-top: $doc-bq-margin-vert;
		margin-bottom: $doc-bq-margin-vert;
		border-left: 20px solid $doc-bq-border-color;
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 15px;
		padding-bottom: 15px;

		DEL {
			color: #999;
			text-decoration: none;
			display: block;
			margin-top: 6px;
			margin-left: 15px;
			font-size: 16px;
			//font-weight: bold;
			font-weight: 300;

			&:before {
				content: "\2014   ";
			}

			STRONG {
				//font-weight: 300;
				color: #666;
			}

		}

		CODE {
			border: none;
			background-color: transparent;
			//background-color: #f0f0f0;
			color: darken( #2780E3, 35% );
			font-weight: bold;
			//padding: 0;
		}

	}

}

// &mdash;
