$heading-pad-top	  : 15px;
$heading-pad-bottom	  : 20px;
$doc-content-pad-side : 30px;

#doc-content-outer {
	background-color: #f0f0f0;
}

#doc-content-inner {

	font-size        : 16px;
	background-color : #fcfcfc;
	max-width        : ( 680px + ( $doc-content-pad-side * 2 ) );

	padding-left     : $doc-content-pad-side;
	padding-right    : $doc-content-pad-side;

	H1 {
		padding-top     : $heading-pad-top;
		padding-bottom  : 4px;
		margin-bottom   : $heading-pad-bottom;
		border-bottom   : 1px solid #ccc;
	}

	H2 {
		padding-top     : $heading-pad-top;
		padding-bottom  : $heading-pad-bottom;
	}

	H3 {
		padding-top     : $heading-pad-top;
		padding-bottom  : ceil( $heading-pad-bottom * 0.50 );
		font-weight     : normal;
	}

	H4 {
		padding-top     : $heading-pad-top;
		padding-bottom  : ceil( $heading-pad-bottom * 0.50 );
		font-weight     : normal;
	}

	H5 {
		padding-top     : $heading-pad-top;
		padding-bottom  : ceil( $heading-pad-bottom * 0.0 );
		font-weight     : bold;
		text-decoration : underline;
	}

	H6 {
		padding-top     : $heading-pad-top;
		padding-bottom  : ceil( $heading-pad-bottom * 0.0 );
		font-weight     : bold;
		color           : #666;
	}

}

.doc-body {
	HR {
		page-break-after: always;
		margin-top: 50px;
		margin-bottom: 50px;
	}
}
