// Set the monospace font..
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
//$code-bg: #2B2B2B !default;
$code-color:                  #2B2B2B !default;
//$code-bg:                     #2B2B2B !default;

//$kbd-color:                   #2B2B2B !default;
//$kbd-bg:                      #2B2B2B !default;

$pre-bg:                      #2B2B2B !default;
$pre-color:                   #eee !default;
//$pre-border-color:            #2B2B2B !default;
$pre-scrollable-max-height:   340px !default;
