$special-note-blue-bg: #2780E3;
$special-note-blue-fg: #fff;

$special-note-red-bg: #E84C3D;
$special-note-red-fg: #fff;

$special-note-orange-bg: #F57E2C;
$special-note-orange-fg: #fff;


P.note-note, P.note-warning, P.note-important, P.note-incomplete {
	padding: 15px;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
	SPAN:first-child {
		font-weight: bold;
	}
}

P.note-note {
	background-color: $special-note-blue-bg;
	color: $special-note-blue-fg;
}
P.note-warning {
	background-color: $special-note-red-bg;
	color: $special-note-red-fg;
}
P.note-important, P.note-incomplete {
	background-color: $special-note-orange-bg;
	color: $special-note-orange-fg;
}
