$doc-table-accent-color: #2780E3;
$doc-table-accent-border: darken( $doc-table-accent-color, 5% );
$doc-table-stripe-color: #eee;
$doc-table-content-border: darken( $doc-table-stripe-color, 5% );

.doc-body {

	TABLE {
		width: 100%;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	TH, TD {
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 12px;
		padding-right: 12px;
	}

	THEAD {

		TR {
			border: 1px solid $doc-table-accent-border;
		}
		TH {
			font-weight: normal;
			font-size: 12px;
			color: white;
			background-color: $doc-table-accent-color;
		}

	}

	TBODY {

		TR {

			border-left: 1px solid $doc-table-content-border;
			border-right: 1px solid $doc-table-content-border;
			border-bottom: 1px solid $doc-table-content-border;
			font-weight: bold;

			&:nth-child(even) {
				background-color: $doc-table-stripe-color;
			}

			TD {
				//vertical-align: top;
			}

			EM {
				display: block;
				font-weight: normal;
				font-style: normal;
			}

		}

	}

}

@media print {

	TABLE {
		margin-top: 10px;
		margin-bottom: 10px;
	}

}
