<div class="doc-menu-inner">

	{@sectionToc}
		<h3>Table of Contents</h3>
		<ul class="nav nav-pills nav-stacked">
			{#items}
				<li role="presentation" {#isBasePage}class="active"{/isBasePage}>
					<a href="/{relBaseName}.html" {#isBasePage}class="active-link"{/isBasePage}>
						<!-- span class="glyphicon {#isBasePage}glyphicon-expand{:else}glyphicon-collapse-down{/isBasePage}" aria-hidden="true"></span-->
						<span class="toc-section-id">{sectionId}</span>{title}
					</a>

					{#isBasePage}<div id="inner-toc" data-section-id="{sectionId}"></div>{/isBasePage}

				</li>
			{/items}
		</ul>
	{/sectionToc}

	{@relatedPages}
		{#hasResults}
			<h3>Related Articles</h3>
			<ul class="nav nav-pills nav-stacked">
			{#items}
				<li role="presentation">
					<a href="/{relBaseName}.html">
						<!-- span class="glyphicon glyphicon-expand" aria-hidden="true"></span -->
						{title}
					</a>
				</li>
			{/items}
			</ul>
		{/hasResults}
	{/relatedPages}

</div>

