// Variables
$icon-font-path: "/fonts/bootstrap/";
$border-radius-base: 0;
$brand-primary: #E45865;

// Typography
@import "typography/variables";

// Component: Menus
@import "components/menus/all-menus";
@import "components/menus/main-menu";
@import "components/menus/section-menu";

// Wiki Content (will be moved)
#wiki-content-inner {
	//background-color: yellow;
	//border: 1px solid red;
	//display: inline-block;
	//height: 100%;
	//border: 1px solid red;
}



// -----------------------------------------------------------------------------



// Import Bootstrap
@import "bootstrap";



// -----------------------------------------------------------------------------



// Typography
@import "typography/headings";
