<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Grits Documentation Plugin</title>
	<link rel="stylesheet" href="/css/grits-docs.css" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/agate.min.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/toc.js"></script>
</head>
<body>

{>"partial/menu/navbar"/}

<div id="doc-content-outer" class="container-fluid">
	<div id="doc-content-row" class="row">

		<div id="section-doc-menu" class="col-md-3 doc-menu menu-toc hidden-print">
			{>"partial/menu/toc"/}
		</div>

		<div id="doc-content-inner" class="col-md-9 doc-body">

			{+bodyContent /}

		</div>

	</div>
</div>


</body>
</html>
